<div id="login">
<%= form_tag sessions_path do %>
    <p>
      <h3>Login - Username & Password </h3>
      <%= text_field_tag :name %>

      <%= password_field_tag :password %>

      <%= submit_tag 'Login' %>
    </p>
<% end %>
</div>