/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@font-face {
    font-family: "Architects Daughter";
    src: url('architectsdaughter-webfont.eot');
    src: url('architectsdaughter-webfont.eot?#iefix') format('embedded-opentype'),
    url('architectsdaughter-webfont.woff') format('woff'),
    url('architectsdaughter-webfont.ttf') format('truetype'),
    url("architectsdaughter-webfont.svg#Architects Daughter") format('svg');

}


#wrapper{width:1060px;
margin-right: auto;
margin-left: auto;
font-family: "courier new";
    letter-spacing: 0.1em;
font-size: 12px;}
#bar{
height:auto;
    padding-bottom: 10px;
    border-bottom:1px solid black;}

#login{border:1px solid #B53560;
padding:2px;
border-radius: 5px;}

#bar span{
color:white;

padding-top:10px;
}

#bar a{
    float:right;
margin:10px 0 0 10px;
text-decoration: none;}

#bar a:hover{text-decoration: underline;
}

#notice{margin-top:0;
float:right;
color:#B53560 !important;
padding:5px;}

#title{
text-align: center;
    width:1060px;
    font-family: "Architects Daughter";
    letter-spacing: 0.1em;
    padding:5px 0 0 0;
    margin-bottom: 10px;
    font-size: 16px;

}

#title hr{width:300px;
text-align:center;}



ul{list-style-type: none;
float:left;
clear:left;}

ul li{margin:0 0 5px 0;
max-width: 500px;
}
#ingredients{float:right;
    width:380px;
padding:5px;
margin-left:10px;
text-align: right;}

#ingredients h4{margin-top:0;
text-align: right;
text-decoration: underline}

#show_pic{width:1060px;
    text-align: center;
margin-bottom: 10px;}

#show_pic img{width:300px;
    height:auto;
}

.cl{clear:left}
.fr{float:right}
.fl{float:left !important;}
.flcl{float:left;clear:left;}

#nav{position:fixed;
top:10px;
left:10px;}

dl{width:529px;
    padding-right: 30px;
    float:left;
background-image: url('bgmid.png');
    background-position: right 2px;
background-repeat: repeat-y;
}

dd{
    margin-left:0;
    margin-top:5px;
    margin-bottom:5px;

padding-left: 0;
color:#333;


}

h4, dt{font-family: "Architects Daughter";

text-transform: uppercase;
    text-decoration: underline;
font-size: 14px;
color:#333;

}

#nav a:hover{color:#B53560;
background-color: white;
text-decoration: underline}

#nav a{margin-bottom:5px;}

.img_front{width:250px;
    height:auto;
margin:5px;
float:left;}
